html,
body,
#root,
.gc-app {
    position: relative;
    height: 100%;
}

// scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;

    &-track {
        background-color: transparent;
        border-radius: 5px;
    }

    &-thumb {
        background-color: #a6b2c3;
        border-radius: 5px;
    }

    &-corner {
        background-color: #ffffff;
    }
}

h1 {
    font-size: 32px;
    font-weight: var(--fw--medium);
    line-height: 42px;
}

a {
    line-height: 32px;
}
