.user-info-block {
    margin: 53px 0;
    color: var(--clr-text);

    img {
        width: 100%;
        border-radius: 10px;
    }

    h1 {
        margin: 20px 0;
    }

    span {
        font-size: 20px;
        line-height: 28px;
    }
}

.btn-user {
    box-sizing: border-box;
    display: flex;
    padding: 14px 50px;
    margin: 20px 0;
    font-size: 18px;
    line-height: 26px;
    background: var(--clr-gray--100);
    border: 1px solid var(--clr-primary);
    border-radius: 10px;
    outline-style: none;
    transition: 0.4s;

    &:hover {
        cursor: pointer;
        background: var(--clr-foreground);
        border: 1px solid;
    }
}
