.user-info {
    color: var(--clr-text);

    &__img {
        min-width: 100%;

        &-ava {
            width: 100%;
            border-radius: 10px;
        }

        &-placeholder {
            min-width: 100%;
            height: 0;
            padding-bottom: 100%;
            border-radius: 10px;
        }
    }

    &__name {
        margin-top: 15px;
        margin-bottom: 5px;
    }

    &__username {
        font-size: 18px;
        font-weight: var(--fw--light);
        line-height: 28px;
    }

    &__bio {
        font-size: 15px;
        line-height: 28px;
    }

    // !!! FIXME: styles (enhance colors)
    &__btn.follow,
    &__btn.unfollow,
    &__btn.edit {
        margin-top: 10px;
        border-radius: 9px;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
        }
    }
}
