.gc-app .header {
    display: flex;
    align-items: center;
    height: 62px !important;
    overflow: hidden;
    font-size: var(--fsz);
    background-color: var(--clr-text) !important;

    &__logo {
        transition: var(--transition);

        &:hover {
            opacity: 0.7;
        }
    }

    &__search {
        // FIXME: temp (hardcoded)
        width: 256px;
        margin-left: 24px;
        color: var(--clr-gray--700);
        background: transparent;
        border-color: var(--clr-gray--700);
        border-radius: 4px;
    }

    .ant-btn {
        border-radius: 4px;
    }
}
