.repo {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
    padding: 22px;
    margin-top: 22px;
    font-family: var(--ff-secondary);
    font-size: 14px;
    background-color: var(--clr-gray--100);
    border-radius: 10px;

    &__info {
        display: grid;
        align-content: space-between;

        a {
            color: var(--clr-text);
        }

        span {
            line-height: 24px;
        }
    }

    &__other-info {
        display: grid;
    }
}
