.repo {
    &__extra {
        display: grid;
    }

    .card__description {
        display: flex;
        align-items: flex-end;
        height: 100%;
    }

    &__date,
    &__lang {
        line-height: 24px;
    }

    &__fav {
        font-size: 28px;
        cursor: pointer;
        transition: var(--transition);

        &.starred svg {
            fill: var(--clr-primary);
        }

        &:hover {
            opacity: 0.6;
        }
    }
}
