@import "shared/mixins.scss";

.repo-git-view {
    background-color: #ffffff;
    border-color: var(--clr-gray--100) !important;
    border-style: solid;
    border-width: 1px;
    border-radius: 5px;

    & .ant-list-header {
        padding: 0 !important;
    }

    &__last-commit {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 8px 12px;
        color: white;
        background-color: var(--clr-primary);
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;

        .commit-info {
            @include text-overflow();

            flex: 1 0;
        }

        span.commit-date {
            flex: 0 1;
            margin-left: 12px;
        }

        img,
        .avatar-placeholder {
            max-width: 36px;
            max-height: 36px;
            border-radius: 50%;
        }

        a.author-name,
        span.author-name {
            margin-left: 12px;
            font-weight: var(--fw--medium);
            color: white;
        }

        span.commit-message {
            margin-left: 5px;
        }
    }

    &__item {
        padding: 8px 0 8px 8px !important;
        border-bottom: 1px solid var(--clr-gray--100) !important;

        & > .wrapper {
            display: flex;
            align-items: center;
        }

        .icon {
            width: 24px;
            height: auto;
            padding: 4px;
        }

        .origin-link {
            margin-left: 12px;
            color: var(--clr-text);
            &:hover {
                text-decoration: underline;
                color: #0366d6;
            }
        }
    }
}
