.repo-git-view {
    background-color: var(--clr-gray--100);

    & .ant-list-header {
        padding: 0 !important;
    }

    &__last-commit {
        background-color: var(--clr-primary);
        color: white;
        padding: 8px 12px;

        img {
            border-radius: 50%;
        }
        a.author-name {
            margin-left: 12px;
            font-weight: bold;
            color: white;
        }
        span.commit-message {
            margin-left: 8px;
            overflow: hidden;
            white-space: nowrap;
            text-overflow: ellipsis;
        }
    }

    &__item {
        padding: 8px 0 8px 8px !important;
        border-bottom-color: white !important;

        img {
            width: 24px;
            height: auto;
            padding: 4px;
        }

        span {
            margin-left: 12px;
        }
    }
}
