.home-info {
    display: flex;
    align-items: center;
    height: inherit;
    margin: 0 12%;
    user-select: none;

    .home-info__title {
        max-width: 90%;
        margin: 0;
        font-family: var(--ff-Roboto-mono);
        font-size: 5vh;
        font-weight: var(--fw--medium);
        line-height: 7vh;
    }

    .home-info__description {
        margin: 25px 0;
        font-family: var(--ff-Roboto);
        font-size: 2vh;
        font-weight: var(--fw--light);
        line-height: 28px;
    }

    .home-info__button {
        padding: 10px 30px;
        color: var(--clr-gray--100);
        background: var(--clr-primary);
        border: none;
        border-radius: 10px;
        outline: none;
        transition: 0.4s;

        &:hover {
            cursor: pointer;
            background: var(--clr-primary--active);
        }
    }
}
