.origin {
    // pos
    position: fixed;
    right: 20px;
    bottom: 20px;
    // stylesheets
    // FIXME: DRY with Auth.page
    color: var(--clr-gray--400);
    cursor: pointer;
    background: none;
    border: none;
    outline: none;
    transition: color 0.25s linear;

    &:hover {
        color: var(--clr-gray--800);
    }

    &:active {
        color: var(--clr-primary);
    }
}
