.clone-content {
    .ant-input {
        border-right: none;
    }

    .ant-input-group-addon {
        padding: 0;
        border: 0;
    }

    .copy-button {
        border-radius: 0 2px 2px 0;
    }
}
