.user {
    height: 140px;
    padding: 22px;
    // FIXME: define on app level
    font-family: var(--ff-secondary);
    font-size: 14px;
    background-color: var(--clr-gray--100);
    border-radius: 10px;
}
