.user {
    height: 140px;
    padding: 22px;
    // FIXME: define on app level
    font-family: var(--ff-secondary);
    font-size: 14px;
    background-color: var(--clr-gray--100);
    border-radius: 10px;

    &__avatar img {
        border: 2px solid var(--clr-gray--200);
        border-radius: 50%;
    }
}
