.page-auth {
    display: flex;
    align-items: center;
    justify-content: center;
    // FIXME: temp, resolve by flex later
    height: calc(100% - 62px);
    text-align: center;

    &__form {
        width: 30%;
        border-radius: 5px !important;

        .ant-card {
            &-head {
                color: var(--clr-foreground);
                background-color: var(--clr-primary);
                border-top-left-radius: 5px !important;
                border-top-right-radius: 5px !important;
            }
        }
    }

    &__alerts {
        margin-bottom: 20px;
    }

    &__link {
        color: unset;
        cursor: pointer;
        background: none;
        border: none;
        outline: none;
        transition: color 0.25s linear;

        &:hover {
            color: var(--clr-primary);
        }

        &:active {
            color: var(--clr-primary--active);
        }
    }
}
