.repo-readme {
    background-color: #ffffff;
    border: 1px solid var(--clr-gray--100);
    border-radius: 6px;

    &__title {
        font-size: 14px;
    }

    &__markdown {
        code {
            padding: 1px 4px;
            background: var(--clr-gray--100);
            border-radius: 6px;
        }

        h1,
        h2 {
            padding-bottom: 0.3em;
            border-bottom: 1px solid var(--clr-gray--200);
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            font-size: 16px;
        }

        blockquote {
            padding: 0 1em;
            color: var(--clr-gray--800);
            border-left: 0.25em solid var(--clr-gray--200);
        }
    }
}
