.repo-readme {
    background-color: #ffffff;
    border: 1px solid var(--clr-gray--100);
    border-radius: 6px;

    code {
        padding: 1px 4px;
        background: var(--clr-gray--100);
        border-radius: 6px;
    }

    .ant-skeleton {
        width: 100%;
        opacity: 0.4;

        &-input {
            min-height: 400px;
        }
    }
}
