// NOTE: Временно используем вспомогательные utilities-классы, на время разработки прототипа приложения
@import "~tailwindcss/dist/utilities.css";
@import "./vars.scss";
@import "./normalize.scss";
@import "./normalize-antd.scss";
@import "./utils.scss";

.gc-app {
    display: flex;
    flex-direction: column;
    // !!! FIXME: temp (caus #86)
    overflow: overlay;
    font-family: var(--ff-primary);
    background-color: var(--clr-background);

    &-content {
        flex-grow: 1;
    }

    .page {
        margin: 20px 10%;
    }

    .ant-layout {
        background-color: unset;
    }
}
