// NOTE: Временно используем вспомогательные utilities-классы, на время разработки прототипа приложения
@import "~tailwindcss/dist/utilities.css";
@import "./vars.scss";
@import "./normalize.scss";

.gc-app {
    display: flex;
    flex-direction: column;

    &-content {
        flex-grow: 1;
        margin: 10px 10%;
    }
}
