html,
body,
#root,
.gc-app {
    position: relative;
    min-height: 100%;
}

// scrollbar
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
    background-color: transparent;

    &-track {
        border-radius: 5px;
        background-color: transparent;
    }
    &-thumb {
        border-radius: 5px;
        background-color: #a6b2c3;
    }
    &-corner {
        background-color: #fff;
    }
}

h1 {
    font-size: 32px;
    font-weight: var(--fw--medium);
    line-height: 42px;
}

a {
    font-size: 20px;
    font-weight: var(--fw--medium);
    line-height: 32px;
}
