.text-title {
    font-family: var(--ff-secondary);
    font-size: 20px;
    font-weight: var(--fw--medium);
}

.page-background {
    height: 100%;
    margin: 0 !important;
    background: #e9ffff url("../shared/assets/bg.png") no-repeat;
}
