.org {
    pointer-events: none;
    box-shadow: 0 5px 0 var(--clr-danger);
    opacity: 0.5;

    .card__actions {
        pointer-events: all;
    }

    &:hover {
        box-shadow: 0 5px 0 var(--clr-danger);
    }
}
