.page-search {
    .result__item {
        user-select: none;
        border-radius: 10px;
        box-shadow: 0 5px 0 var(--clr-gray--900);
        transition: var(--transition);

        &:hover {
            box-shadow: 0 5px 0 var(--clr-primary--hover);
        }

        &:active {
            box-shadow: 0 5px 0 var(--clr-primary--active);
        }
    }
}
