.page-repo {
    margin: 20px 15% !important;

    .clone-btn {
        color: white;
        background-color: var(--clr-text);
    }

    &__main {
        font-family: var(--ff-secondary);
    }
}

.ant-layout {
    background-color: white;
}
