.page-repo {
    .clone-btn {
        color: white;
        background-color: var(--clr-text);
    }

    &__main {
        font-family: var(--ff-secondary);
    }
}

.ant-layout {
    background-color: white;
}
