.search-results {
    &__toolbar {
        height: 60px;
        margin-bottom: 8px;
    }

    &__item {
        user-select: none;
        border-radius: 10px;
        box-shadow: 0 5px 0 var(--clr-gray--900);
        transition: var(--transition);

        &:hover {
            box-shadow: 0 5px 0 var(--clr-primary--hover);
        }

        &:active {
            box-shadow: 0 5px 0 var(--clr-primary--active);
        }
    }

    .repo {
        margin: 0;
    }
}
