.repo-stat {
    --fsz: 12px;
    --radius: 6px;
    --padding: 6px 8px;

    user-select: none;

    .ant-statistic {
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--clr-gray--100);
        border: 1px solid var(--clr-gray--200);
        border-radius: var(--radius);

        a {
            line-height: var(--fsz);
            color: var(--clr-gray--500);

            &:hover {
                text-decoration: underline;
            }
        }

        &-title {
            padding: var(--padding);
            margin: 0;
            font-size: var(--fsz);
        }

        &-content {
            padding: var(--padding);
            font-size: var(--fsz);
            background-color: #ffffff;
            border-top-right-radius: var(--radius);
            border-bottom-right-radius: var(--radius);
            transition: var(--transition);
        }
    }
}
